body {
  background-color: #808080;
  margin: 50px;
}
h1 {
  margin: 20px;
  text-align: center;
  font-size: 40pt;
  color: white;
}
A:active {
  color: green;
}
A:link {
  color: aqua;
}
A:visited {
  color: blue;
}
A:hover {
  color: blueviolet;
  text-decoration: underline;
}